<form id="submit_url" action="/url" method="get" class="form-inline form-submit">
	<p>Faîtes une recherche sur leboncoin.fr, collez l'url dans le formulaire et hop, un RSS tout beau tout chaud est généré, prêt à être ajouter à votre reader préféré. Enjoy!</p>
	<label for="url">Url</label>
	<input type="text" id="url" name="url" class="span6" placeholder="ex: http://www.leboncoin.fr/instruments_de_musique/offres/aquitaine/occasions/?f=a&th=1&q=sunn" />
	<input type="submit" class="btn" />
</form>
